body {
    justify-content: center;
    align-items: center;
    background:linear-gradient(120deg,orange,rgb(252, 73, 73));
    /* padding: 50px; */
    /* background-image: url("mi.jfif"); */
    /* background-color: rgba(0,0,0,0.3); */
    
}

#h2 {
    text-align: center;
    color: white;
}

.heading {
    text-align: center;
    color: white;
}

.form {
    color: green;
    color: white;
}

#left {
    float: left;
    padding: 12px;
    margin-left: 44px;
    padding-right: 0px;
    margin-right: 0px;
    color: white;
    font-size: 20px;
}

#right {
    float: right;
    padding: 16px;
    margin-right: 51px;
    padding-left: 0px;
    margin-left: 0px;
    color: white;
    font-size: 20px;
}

#left1 {
    float: left;
    padding: 57px;
    margin-left: -276px;
    padding-right: 0px;
    margin-right: 0px;
    color: white;
    font-size: 20px;
}

#right1 {
    float: right;
    padding: 57px;
    margin-right: -398px;
    padding-left: 0px;
    margin-left: 0px;
    color: white;
    font-size: 20px;
}

#left2 {
    float: left;
    padding: 101px;
    margin-left: -320px;
    padding-right: 0px;
    margin-right: 0px;
    color: white;
    font-size: 20px;
}

#right2 {
    float: right;
    padding: 98px;
    margin-right: -361px;
    padding-left: 0px;
    margin-left: 0px;
    color: white;
    font-size: 20px;
}

.address {
    float: right;
    padding: 24px;
    margin-right: 214px;
    padding-left: 0px;
    margin-left: 0px;
    color: white;
}

.pincode {
    float: left;
    padding: 24px;
    margin-right: 214px;
    padding-left: 0px;
    margin-left: 0px;
    color: white;
}

.container2 {
    margin: auto;
    width: 50%;
    height: 158px;
    color: white;
}

.container5 {
    /* border: solid 2px red; */
    margin: auto;
    width: 37%;
    height: 158px;
    color: white;
}

#form_heading {
    text-align: center;
    color: white;
}

.form-label {
    font-weight: 600;
    font-size: 20px;
}
.btn{
    margin-left: 180px;
    background-color: red;
}
