body{
    justify-content: center;
    align-items: center;
    background:url(img.jpg);        
  }

  .container{
     
    height:800px;
    background: rgba(139, 139, 139, 0.5);
    color: #fff;
    top: 75%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
 }


    #h2{
        text-align:center;
    }
    .heading{
        text-align:center;
    }
    .form{
        color:rgb(18, 19, 18);
    }

    .btn{
        margin-left: 500px;;
        color:black;

    }